#main-nav .ul-inlinef {
        display: flex;
        flex-wrap: wrap;
        text-transform: uppercase;
        justify-content: center;
        column-gap: 20px;
        row-gap: 30px;
    }
    #main-nav .ul-inlinef li,
    #main-nav .ul-inlinef a:hover,
    #main-nav .ul-inlinef a:active,
    #main-nav .ul-inlinef a:visited {
        font-weight: bold;
       color: var(--main-nav-color);
    }

:root {
    /* color */
    --lightgrey-color: #141922 ;
    --main-nav-color: #65676C;
    --darkgrey-color: #080B12 ;
    /* size */
    --footer-height: 80px;
    --main-header-height: 90px;
    --small-lbar-width: 60px;
    --lbar-width: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: white;
}

main {
    width: 100%;
    height: calc(100vh - var(--footer-height));
    min-width: 350px;
    overflow: hidden;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

ul {
    list-style-type: none ;
}
.left-bar {
    display: flex;
    position: fixed;
    height: calc(100vh - var(--footer-height));
    float: left;
    background-color: black;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

#top-nav {
    margin-top: 5px;
    width: 100%;
    height: 60%;
    overflow: hidden;
    text-align: center;
}
#top-nav li {
    height: 50px;
    width: 100%;
}
.left-bar svg {
    height: 35px;
    width: 35px;
}
#bottom-nav .arrow-circle-down {
    height: 20px;
    width: 20px;
}

#bottom-nav {
    text-align: center;
    height: 80px;
    width: 100%;
}

/* svg arrowdown*/
.cls-1 { 
    fill: #fff;
    opacity: 0;
}

.cls-2 {
    fill: white;
}
.right-content {
    float: right;
    height: calc(100vh - var(--footer-height));
    margin-top: var(--main-header-height);
    background-color: var(--darkgrey-color);
    overflow: auto;
}
#container-upgrade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    top:0;
    right: 0;
    height: var(--main-header-height);
    filter: opacity(0.75);
    z-index: 12;
    background-color: var(--darkgrey-color);
}
#main-nav {
    background-color: yellow;
}
h1 {
        font-size: 1.75em;
        text-transform: capitalize;
    }

/* MAIN-CONTAINER */
.container-95 {
    width: 95%;
    height: 95%;
    margin: auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--footer-height);
}
.main-container > div {
    height: 150px;
    width: 150px;
    background-color: deeppink;
    
}

/* FOOTER */
footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:100%;
    height: var(--footer-height);
    bottom:0;
    left:0;
    background-color: darkorange;
    z-index: 2;
}

/* SCHERMI XS MAX 600 */
@media screen and (max-width: 600px) {
    /* NAVBAR */
    .left-bar {
        width:60px;
    }
    /* #top-nav
    #top-nav > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
    } */
    #big-size-logo,
    h2,
    #playlist {
        display: none;
    }
    #bottom-nav span {
        display: none;
    }
    /* .left-bar > nav a{
        display: inline-block;
        width: 35px;
        height: 35px;
    } */

    .right-content,
    #container-upgrade {
        width: calc(100% - var(--small-lbar-width));
    }
}
/* SCHERMI S > 601px */
@media screen and (min-width: 601px) {
    /* LEFT-BAR */
    .left-bar {
        width: var(--lbar-width);
    }
    #big-size-logo {
        display: inline-block;
        background-color: red;
        height: 50px;
        width: 30px;
    }
    a.flex {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .right-content,
    #container-upgrade {
        width: calc(100% - var(--lbar-width));
    }

    h2 {
        display: inline-block;
    }
    #playlist {
        display: inline-block;
        min-height: 15px;
        height: 40%;
        width: 100%;        overflow: auto;
    }
    #playlist li {
        background-color: azure;

        height: 12%;
        width: 100%;
    }
}