@media screen and (max-width:600px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .clearfix::after {
        content: '';
        display: table;
        clear: both;
    }
    .float-l{
        float: left;
    }
    .float-r{
        float:right;
    }
    main {
        margin-bottom:80px;
        padding-top: 90px;
    }
    ul {
        list-style-type: none;
    }
    a,
    a:active,
    a:hover,
    a:active {
        color: white;
        text-decoration: none;
    }
    /* MAIN */
    .container.clearfix {
        width: 100%;
        height: calc(100vh - 80px);
    }
    /* NAVBAR */
    .container.clearfix > .float-l {
        width:10%;
        min-width: 40px;
        height: 100%;
        background-color: black;
    }
     .container.clearfix > .float-l > nav,
      .container.clearfix > .float-l > nav > ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 5px;
      }
    
    .r-gap-15px {
        row-gap: 15px;
    }
    #logo-icon {
        width:100%;
        height: 100%;
        /* cambio nero-bianco */
        filter: invert(1);
    }
    nav.flex-col a{
        display: block;
        width: 35px;
        height: 35px;
    }
    /* /NAVBAR */
    /* MAIN-CONTAINER */
    .container.clearfix > .float-r {
        width:90%;
        min-width: 315px;
        height: 100%;
        background-color: blueviolet;
    }
    /* HAEDER */
    #container-upgrade {
        position:fixed;
        right: 0;
        width: 90%;
        min-width: 300px;
        height: 90px;
        filter: opacity(0.75);
        z-index: 12;
        background-color: #080B12;
        text-align: right;
        top:0;
    }

   #container-upgrade a.btn {
        text-transform: uppercase;
        display: inline-block;
        margin: 24.6px 2px 24.6px 0;
        padding: 10px 20px;
        font-size: 1em;
        border: 1px solid white;
        border-radius: 2em;
        min-width: 220px;
    }
    /* /HAEDER */
    /* /MAIN-CONTAINER */
    /* FOOTER */
    footer {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width:100%;
        height: 80px;
        bottom:0;
        left:0;
        background-color: darkorange;
        z-index: 2;
    }
    /* /FOOTER */
    /* /MAIN */
}
@media screen and (min-width: 601px) {
    * {
        display: none;
    }
}
