* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.float-l{
    float: left;
}
.float-r{
    float:right;
}

main.clearfix {
    height: calc(100vh - 50px);
}
main.clearfix > .float-l{
    width:10%;
    height: 100%;
    background-color: burlywood;
}
main.clearfix > .float-r{
    width:90%;
    height: 100%;
    background-color: blueviolet;
}